<%= stylesheet_link_tag "users", media: "all", "data-turbolinks-track" => true %>
<div id="sign-in-wrapper" class="sign-form-wrapper pull-right">
	<h2>Sign-In .. We miss you!</h2>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		 <div class="form-group">
    		<%= f.label :email %>
    		<%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => "Email" %>
    	</div>
	    <div class="form-group">
	      <%= f.label :password %><br />
	      <%= f.password_field :password, :class => 'form-control', :placeholder => "Password"  %>
	    </div>
		<% if devise_mapping.rememberable? -%>
			<div class="checkbox">
			<label>
				<%= f.check_box :remember_me %> Remember me
			</label>
			</div>
		<% end -%>
		 <div class="form-group"><%= f.submit "Let me IN", :class => "btn btn-primary" %></div>
	<% end %>
	<div class="social-sign-wrapper">
		<p>or connect using:</p>
		<a class="btn btn-social btn-github">
			<i class="fa fa-github"></i> Sign in with Github
		</a>
		<a class="btn btn-social btn-google-plus">
			<i class="fa fa-google-plus"></i> Sign in with Google+
		</a>
	</div>
 </div>


